@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuentePrincipal: "Montserrat",sans-serif;;
    --fuenteSecundaria: "Lato", sans-serif;;
    --colorPrincipal:rgba(4, 43, 30, 0.747);
    --colorSecundario:rgba(4, 95, 42, 0.747);
}

*, *::before, *::after{
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body{
    font-family: var(--fuentePrincipal);
}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;

}


.header {
    height: 300px;
    background-image: url(img/fondo_header.jpg) ;
    background-position: top center;
    background-size: cover;
}

@media (min-width: 768px){
    .header{
        height: 550px;
    }
}

.header .header_contenido{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 43, 30, 0.747) 60%, rgba(17, 63, 45, 0.438));
}


.header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    .header_nav{
        flex-direction: row;
        justify-content: flex-end;
    }
}

.header_nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-size: 22px;
    font-family: var(--fuenteSecundaria);
}

.header_nav a:hover{
    text-decoration: underline;
}

.header_info{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: #fff;
    height: 500px;
    max-width: 380px;
    font-size: 1.1rem;
    font-family: var(--fuenteSecundaria);
}

.header_info h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.menu-mobile{
    display: none;
}

@media (max-width: 768px){
    .header-info{
        display: block;
        text-align: center;
    }

    .header_info h1{
        font-size: 1.5rem;
    }

    .header_info p{
        font-size: 1rem;
    }

    .menu-mobile{
        display: block;
        text-align: center;
        padding-top: 15px;
    }

    .header_nav{
        display: none;
    }

    .servicios_contenido{
        display: flex;
        flex-direction: column;

    }
    .servicios p{
        display: none;
    }
}

.mostrar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.servicios{
    padding: 15px;
    color: #063606ec;
    font-size: 1.2rem;
    font-family: var(--fuenteSecundaria);
}
.servicios_contenido{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.servicio{
    text-align: center;
    color: #fff;
    background-color: var(--colorSecundario);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}
.servicio_img img{
    max-width: 250px;
    border-radius: 5px;
}

.footer-info{
    background-color: var(--colorPrincipal);
    padding: 3rem;
    color: #fff;
    text-align: center;
    font-family: var(--fuenteSecundaria);

}

.footer-info p{
    font-size: 1.2rem;
}

.footer-info span{
    display: block;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
}